In [1]:
#Dependancies

import pandas as pd
import numpy as np

In [2]:
#Reading csv files

demographicDf = pd.read_csv("resources/demographic.csv")
labsDf = pd.read_csv("resources/labs.csv")
medicationsDf = pd.read_csv("resources/medications.csv", encoding="ISO-8859-1")

In [6]:
#Drops conditions in medicationsDf that appear less than 100 times

medValues = medicationsDf["RXDRSD1"].value_counts(dropna=False)
medicationsDf = medicationsDf[medicationsDf['RXDRSD1'].isin(medValues[medValues >= 100].index)]

In [4]:
#Replaces null values with a "Healthy" string

medicationsDf["RXDRSD1"] = medicationsDf["RXDRSD1"].fillna("Healthy")

In [5]:
#Renames the columns in medicationsDf

medicationsDf = medicationsDf.rename(columns=\
                                    {"RXDUSE": "Medications_Teken_Last_30_Days",\
                                      "RXDDRUG": "Generic_Drug_Name",\
                                      "RXDDRGID": "Generic_Drug_Code", \
                                      "RXQSEEN": "Was_Prescription_Container_Seen_By_Interviewer",\
                                      "RXDDAYS": "Duration_Taken_Medications",\
                                      "RXDRSC1": "ICD_10_CM_Code_1",\
                                      "RXDRSC2": "ICD_10_CM_Code_2",\
                                      "RXDRSC3": "ICD_10_CM_Code_3",\
                                      "RXDRSD1": "ICD_10_CM_Code_1_Description",\
                                      "RXDRSD2": "ICD_10_CM_Code_2_Description",\
                                      "RXDRSD3": "ICD_10_CM_Code_3_Description",\
                                      "RXDCOUNT":"The_Number_Of_Prescription_Medicines_Reported"
                                    })

In [6]:
#Setting up the newLab dataframe

#Isolates the SEQN column into it's own dataframe
labSEQN = labsDf[["SEQN"]]

#Sets null values to 0 and non-null values to 1
#newLab = labsDf.notnull().astype('int')

#Drops the current SEQN column which only has values of 1 currently
newLab = labsDf.drop(columns=["SEQN"])

#Brings the isolated SEQN column back into the dataframe
newLab = newLab.join(labSEQN, how='outer')

#Moves the SEQN column to the far left of our dataframe
columnList = list(newLab.columns.values)
columnList.pop(columnList.index('SEQN'))
newLab = newLab[['SEQN']+columnList]

#Drops new null values
#newLab = newLab.dropna()

#Changes 0 values to 2 values for future division
#for col in columnList:
#    newLab[col] = newLab[col].replace(0, 2, regex=True)

In [7]:
#Setting up the newMed dataframe

#Isolates the three columns we will be working with from the medicationsDf
newMed = medicationsDf[["SEQN", "Generic_Drug_Name", "ICD_10_CM_Code_1_Description"]]

#Renames the third column for readability
newMed = newMed.rename(columns={"ICD_10_CM_Code_1_Description": "Condition"})

#Replaces null perscriptions with a string value of "NONE"
newMed["Generic_Drug_Name"] = newMed["Generic_Drug_Name"].fillna("NONE")

#Corrects false data
newMed["Generic_Drug_Name"] = newMed["Generic_Drug_Name"].replace("99999", "NONE", regex=True)
newMed["Generic_Drug_Name"] = newMed["Generic_Drug_Name"].replace("55555", "NONE", regex=True)
newMed["Generic_Drug_Name"] = newMed["Generic_Drug_Name"].replace("77777", "NONE", regex=True)

#Cleans up condition names
newMed["Condition"] = newMed["Condition"].replace("Hypothyroidism, unspecified", "Hypothyroidism", regex=True)
newMed["Condition"] = newMed["Condition"].replace("Major depressive disorder, single episode, unspecified", "Major depressive disorder", regex=True)
newMed["Condition"] = newMed["Condition"].replace("Anxiety disorder, unspecified", "Anxiety disorder", regex=True)
newMed["Condition"] = newMed["Condition"].replace("Sleep disorder, unspecified", "Sleep disorder", regex=True)
newMed["Condition"] = newMed["Condition"].replace("Allergic rhinitis, unspecified", "Allergic rhinitis", regex=True)
newMed["Condition"] = newMed["Condition"].replace("Dorsalgia, unspecified", "Dorsalgia", regex=True)
newMed["Condition"] = newMed["Condition"].replace("Chronic obstructive pulmonary disease, unspecified", "Chronic obstructive pulmonary disease", regex=True)
newMed["Condition"] = newMed["Condition"].replace("Neuralgia and neuritis, unspecified", "Neuralgia and neuritis", regex=True)
newMed["Condition"] = newMed["Condition"].replace("Edema, unspecified", "Edema", regex=True)
newMed["Condition"] = newMed["Condition"].replace("Heart failure, unspecified", "Heart failure", regex=True)
newMed["Condition"] = newMed["Condition"].replace("Cardiac arrhythmia, unspecified", "Cardiac arrhythmia", regex=True)
newMed["Condition"] = newMed["Condition"].replace("Allergy, unspecified", "Allergy", regex=True)

In [9]:
demographicDf

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557,8,2,1,69,NaN,4,4,1.0,NaN,...,3.0,4.0,NaN,13281.237386,13481.042095,1,112,4.0,4.0,0.84
1,73558,8,2,1,54,NaN,3,3,1.0,NaN,...,3.0,1.0,1.0,23682.057386,24471.769625,1,108,7.0,7.0,1.78
2,73559,8,2,1,72,NaN,3,3,2.0,NaN,...,4.0,1.0,3.0,57214.803319,57193.285376,1,109,10.0,10.0,4.51
3,73560,8,2,1,9,NaN,3,3,1.0,119.0,...,3.0,1.0,4.0,55201.178592,55766.512438,2,109,9.0,9.0,2.52
4,73561,8,2,2,73,NaN,3,3,1.0,NaN,...,5.0,1.0,5.0,63709.667069,65541.871229,2,116,15.0,15.0,5.00
5,73562,8,2,1,56,NaN,1,1,1.0,NaN,...,4.0,3.0,NaN,24978.144602,25344.992359,1,111,9.0,9.0,4.79
6,73563,8,2,1,0,5.0,3,3,2.0,6.0,...,5.0,1.0,5.0,18040.818432,17913.555067,1,105,15.0,15.0,5.00
7,73564,8,2,2,61,NaN,3,3,2.0,NaN,...,5.0,2.0,NaN,60325.095254,61758.654880,1,114,10.0,10.0,5.00
8,73565,8,1,1,42,NaN,2,2,NaN,NaN,...,3.0,1.0,5.0,23307.675629,0.000000,2,106,15.0,15.0,5.00
9,73566,8,2,2,56,NaN,3,3,1.0,NaN,...,3.0,3.0,NaN,16351.783140,17480.115175,1,112,4.0,4.0,0.48
10,73567,8,2,1,65,NaN,3,3,2.0,NaN,...,2.0,2.0,NaN,34002.622995,34795.429301,2,112,3.0,3.0,1.20
11,73568,8,2,2,26,NaN,3,3,2.0,NaN,...,5.0,5.0,NaN,89514.433218,91523.516048,2,113,15.0,15.0,5.00
12,73569,8,1,2,0,10.0,5,7,NaN,NaN,...,4.0,1.0,5.0,6673.803649,0.000000,1,110,77.0,77.0,NaN
13,73570,8,2,2,9,NaN,5,7,1.0,109.0,...,5.0,3.0,NaN,11913.818655,12071.467415,2,115,5.0,5.0,0.84
14,73571,8,2,1,76,NaN,3,3,1.0,NaN,...,5.0,1.0,5.0,46988.470276,46190.114005,1,116,14.0,14.0,5.00
15,73572,8,2,2,10,NaN,4,4,1.0,125.0,...,4.0,5.0,NaN,11689.376908,12764.396165,2,111,2.0,2.0,0.41
16,73573,8,2,1,10,NaN,4,4,1.0,128.0,...,3.0,1.0,3.0,6403.212786,6460.787962,2,106,8.0,8.0,1.79
17,73574,8,2,2,33,NaN,5,6,1.0,NaN,...,5.0,1.0,5.0,14155.313000,15397.219846,2,114,8.0,8.0,2.10
18,73575,8,2,1,1,18.0,4,4,1.0,19.0,...,2.0,NaN,NaN,7574.950558,7721.542396,2,116,3.0,3.0,0.76
19,73576,8,2,1,16,NaN,4,4,2.0,194.0,...,4.0,77.0,NaN,12433.748735,12665.770090,1,104,8.0,8.0,1.58
20,73577,8,2,1,32,NaN,1,1,1.0,NaN,...,3.0,6.0,NaN,36284.650273,39735.017070,2,118,5.0,2.0,0.29
21,73578,8,2,1,18,NaN,1,1,1.0,218.0,...,3.0,1.0,1.0,11592.846429,11758.631127,2,118,5.0,5.0,0.58
22,73579,8,2,2,12,NaN,3,3,2.0,147.0,...,5.0,1.0,5.0,63248.989522,70708.034030,1,110,10.0,10.0,2.97
23,73580,8,2,2,38,NaN,4,4,1.0,NaN,...,3.0,1.0,2.0,27388.920690,27196.638394,2,116,12.0,12.0,NaN
24,73581,8,2,1,50,NaN,5,6,1.0,NaN,...,5.0,1.0,4.0,15902.418122,16764.260669,2,106,15.0,15.0,5.00
25,73582,8,2,2,23,NaN,4,4,1.0,NaN,...,4.0,6.0,NaN,30197.081366,31181.886343,1,108,3.0,3.0,0.69
26,73583,8,2,2,7,NaN,3,3,2.0,86.0,...,5.0,1.0,5.0,47574.649392,48196.409412,1,110,15.0,15.0,5.00
27,73584,8,2,1,13,NaN,3,3,2.0,158.0,...,4.0,1.0,NaN,72700.381729,72182.239545,1,105,9.0,9.0,3.07
28,73585,8,2,1,28,NaN,5,6,2.0,NaN,...,4.0,1.0,4.0,18063.143861,18590.965473,1,110,7.0,7.0,2.26
29,73586,8,2,2,4,NaN,5,6,1.0,58.0,...,4.0,1.0,4.0,11635.240800,13569.677359,1,116,6.0,6.0,1.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10145,83702,8,2,2,80,NaN,3,3,1.0,NaN,...,4.0,2.0,NaN,31569.274135,33466.362531,1,112,7.0,7.0,3.57
10146,83703,8,2,1,22,NaN,1,1,2.0,NaN,...,2.0,1.0,2.0,40362.045231,42187.066631,1,106,99.0,99.0,NaN
10147,83704,8,2,1,15,NaN,3,3,2.0,182.0,...,4.0,1.0,NaN,22410.160297,22250.441062,1,104,1.0,1.0,0.00
10148,83705,8,2,2,35,NaN,2,2,1.0,NaN,...,3.0,6.0,NaN,34093.594033,33825.411466,1,108,4.0,4.0,0.58
10149,83706,8,2,2,6,NaN,4,4,2.0,80.0,...,4.0,5.0,NaN,8662.610109,8648.548981,1,114,6.0,6.0,1.36
10150,83707,8,2,1,18,NaN,1,1,2.0,219.0,...,2.0,NaN,NaN,18081.800286,18481.068602,2,108,12.0,3.0,0.86
10151,83708,8,2,1,64,NaN,3,3,1.0,NaN,...,3.0,3.0,NaN,100202.168410,102106.493777,1,112,5.0,5.0,2.09
10152,83709,8,2,1,24,NaN,3,3,1.0,NaN,...,1.0,1.0,1.0,84539.996864,86433.720386,1,113,15.0,15.0,3.63
10153,83710,8,2,2,2,NaN,4,4,1.0,25.0,...,4.0,5.0,NaN,7371.222940,7630.076690,2,114,1.0,1.0,0.11
10154,83711,8,2,2,38,NaN,3,3,1.0,NaN,...,4.0,1.0,4.0,28291.516598,28736.069266,2,109,7.0,7.0,1.08
10155,83712,8,2,1,61,NaN,3,3,1.0,NaN,...,2.0,1.0,4.0,38081.290660,38231.457622,2,115,9.0,9.0,2.04
10156,83713,8,2,1,34,NaN,5,6,1.0,NaN,...,4.0,1.0,4.0,14919.218779,16535.236604,2,118,6.0,6.0,1.27
10157,83714,8,2,2,19,NaN,3,3,2.0,231.0,...,2.0,6.0,NaN,26001.173776,26632.551922,1,114,6.0,6.0,1.20
10158,83715,8,2,1,58,NaN,3,3,1.0,NaN,...,1.0,5.0,NaN,25819.771131,27756.512614,2,116,3.0,3.0,0.94
10159,83716,8,2,1,17,NaN,3,3,1.0,215.0,...,4.0,1.0,4.0,49146.845584,50054.337936,1,116,15.0,15.0,3.63
10160,83717,8,2,2,80,NaN,1,1,2.0,NaN,...,3.0,1.0,NaN,12010.325301,12031.439724,1,107,6.0,6.0,0.70
10161,83718,8,2,2,60,NaN,4,4,2.0,NaN,...,3.0,2.0,NaN,34902.817661,37866.383266,1,113,NaN,NaN,NaN
10162,83719,8,2,1,3,NaN,1,1,1.0,42.0,...,3.0,6.0,NaN,23018.846097,24135.493026,1,106,8.0,8.0,2.32
10163,83720,8,2,1,36,NaN,4,4,1.0,NaN,...,4.0,5.0,NaN,20917.413262,22721.755013,1,112,8.0,8.0,2.90
10164,83721,8,2,1,52,NaN,3,3,1.0,NaN,...,5.0,1.0,5.0,67937.153461,68456.771849,1,112,15.0,15.0,5.00
10165,83722,8,2,1,0,0.0,5,7,2.0,2.0,...,3.0,6.0,NaN,4732.381343,4932.794501,2,105,7.0,7.0,0.97
10166,83723,8,2,1,61,NaN,1,1,2.0,NaN,...,2.0,1.0,3.0,11140.687817,11179.994842,1,109,10.0,10.0,3.53
10167,83724,8,2,1,80,NaN,3,3,1.0,NaN,...,3.0,1.0,4.0,28323.849076,29383.486541,1,117,8.0,8.0,3.09
10168,83725,8,2,1,7,NaN,1,1,1.0,95.0,...,4.0,4.0,NaN,20425.791465,20632.950468,1,106,6.0,6.0,1.07
10169,83726,8,2,1,40,NaN,1,1,1.0,NaN,...,1.0,3.0,NaN,45268.572702,49177.291000,2,115,9.0,9.0,3.81
10170,83727,8,2,1,26,NaN,2,2,2.0,NaN,...,3.0,NaN,NaN,27141.631824,28115.568221,1,104,77.0,77.0,NaN
10171,83728,8,2,2,2,24.0,1,1,2.0,24.0,...,3.0,1.0,3.0,15274.475360,16512.138781,1,107,8.0,8.0,1.95
10172,83729,8,2,2,42,NaN,4,4,2.0,NaN,...,5.0,3.0,NaN,24122.248900,26902.344381,1,104,7.0,7.0,3.66
10173,83730,8,2,1,7,NaN,2,2,1.0,84.0,...,4.0,1.0,3.0,25521.878546,26686.025573,2,109,6.0,6.0,1.05
10174,83731,8,2,1,11,NaN,5,6,1.0,140.0,...,5.0,1.0,5.0,8930.180154,9700.873491,2,106,15.0,15.0,5.00

In [8]:
#Setting up the toplabsDf

#Creates a dataframe containing the top 15 used labs
toplabsDf = newLab[["SEQN","LBXRDW","LBXRBCSI","LBXHGB","LBXHCT","LBXMCVSI","LBXMCHSI","LBXPLTSI","LBXMPSI","LBXWBCSI","LBDBANO","LBDEONO","LBDMONO","LBDLYMNO","LBXBAPCT","LBXEOPCT","LBXNEPCT","LBXMOPCT","LBXLYPCT","LBDNENO","LBXHA","LBXHBS"]]

#Renames columns in toplabsDf for readability
toplabsDf = toplabsDf.rename(columns=\
                             {"LBXRDW":"Red cell distribution width (%)",
                             "LBXRBCSI":"Red blood cell count (million cells/uL)",
                             "LBXHGB":"Hemoglobin (g/dL)","LBXHCT":"Hematocrit (%)","LBXMCVSI":"Mean cell volume (fL)",
"LBXMCHSI":"Mean cell hemoglobin (pg)",
"LBXPLTSI":"Platelet count (1000 cells/uL)",
"LBXMPSI":"Mean platelet volume (fL)",
"LBXWBCSI":"White blood cell count (1000 cells/uL)",
"LBDBANO":"Basophils number (1000 cells/uL)",
"LBDEONO":"Eosinophils number (1000 cells/uL)",
"LBDMONO":"Monocyte number (1000 cells/uL)",
"LBDLYMNO":"Lymphocyte number (1000 cells/uL)",
"LBXBAPCT":"Basophils percent (%)",
"LBXEOPCT":"Eosinophils percent (%)",
"LBXNEPCT":"Segmented neutrophils percent (%)",
"LBXMOPCT":"Monocyte percent (%)",
"LBXLYPCT":"Lymphocyte percent (%)",
"LBDNENO":"Segmented neutrophils num (1000 cell/uL)",
"LBXHA":"Hepatitis A antibody",
"LBXHBS":"Hepatitis B Surface Antibody"
                             })

#Replaces values of 0 with values of 2 for future division
columnList = list(toplabsDf.columns.values)
columnList.pop(columnList.index('SEQN'))

for col in columnList:
   toplabsDf[col] = toplabsDf[col].replace(0, 2, regex=True)

In [9]:
#Setting up newDem

#Renames the columns in demographicDf
demographicDf = demographicDf.rename(columns=\
                                    {
"SDDSRVYR":"Data release cycle",
"RIDSTATR":"Interview and examination status of the participant.",
"RIAGENDR":"Gender of the participant.",
"RIDAGEYR":"Age in years of the participant at the time of screening. Individuals 80 and over are topcoded at 80 years of age.",
"RIDAGEMN":"Age in months of the participant at the time of screening. Reported for persons aged 24 months or younger at the time of exam (or screening if not examined).",
"RIDRETH1":"Recode of reported race and Hispanic origin information",
"RIDRETH3":"Recode of reported race and Hispanic origin information, with Non-Hispanic Asian Category",
"RIDEXMON":"Six month time period when the examination was performed - two categories: November 1 through April 30, May 1 through October 31.",
"RIDEXAGM":"Age in months of the participant at the time of examination. Reported for persons aged 19 years or younger at the time of examination.",
"DMQMILIZ":"{Have you/Has SP} ever served on active duty in the U.S. Armed Forces, military Reserves, or National Guard? (Active duty does not include training for the Reserves or National Guard, but does include activation, for service in the U.S. or in a foreign country, in support of military or humanitarian operations.)",
"DMQADFC":"Did {you/SP} ever serve in a foreign country during a time of armed conflict or on a humanitarian or peace-keeping mission? (This would include National Guard or reserve or active duty monitoring or conducting peace keeping operations in Bosnia and Kosovo, in the Sinai between Egypt and Israel, or in response to the 2004 tsunami or Haiti in 2010.)",
"DMDBORN4":"In what country {were you/was SP} born?",
"DMDCITZN":"{Are you/Is SP} a citizen of the United States? [Information about citizenship is being collected by the U.S. Public Health Service to perform health related research. Providing this information is voluntary and is collected under the authority of the Public Health Service Act. There will be no effect on pending immigration or citizenship petitions.]",
"DMDYRSUS":"Length of time the participant has been in the US.",
"DMDEDUC3":"What is the highest grade or level of school {you have/SP has} completed or the highest degree {you have/s/he has} received?",
"DMDEDUC2":"What is the highest grade or level of school {you have/SP has} completed or the highest degree {you have/s/he has} received?",
"DMDMARTL":"Marital status",
"RIDEXPRG":"Pregnancy status for females between 20 and 44 years of age at the time of MEC exam.",
"SIALANG":"Language of the Sample Person Interview Instrument",
"SIAPROXY":"Was a Proxy respondent used in conducting the Sample Person (SP) interview?",
"SIAINTRP":"Was an interpreter used to conduct the Sample Person (SP) interview?",
"FIALANG":"Language of the Family Interview Instrument",
"FIAPROXY":"Was a Proxy respondent used in conducting the Family Interview?",
"FIAINTRP":"Was an interpreter used to conduct the Family interview?",
"MIALANG":"Language of the MEC CAPI Interview Instrument",
"MIAPROXY":"Was a Proxy respondent used in conducting the MEC CAPI Interview?",
"MIAINTRP":"Was an interpreter used to conduct the MEC CAPI interview?",
"AIALANGA":"Language of the MEC ACASI Interview Instrument",
"DMDHHSIZ":"Total number of people in the Household",
"DMDFMSIZ":"Total number of people in the Family",
"DMDHHSZA":"Number of children aged 5 years or younger in the household",
"DMDHHSZB":"Number of children aged 6-17 years old in the household",
"DMDHHSZE":"Number of adults aged 60 years or older in the household",
"DMDHRGND":"HH reference person's gender",
"DMDHRAGE":"HH reference person's age in years",
"DMDHRBR4":"HH reference person's country of birth",
"DMDHREDU":"HH reference person's education level",
"DMDHRMAR":"HH reference person's marital status",
"DMDHSEDU":"HH reference person's spouse's education level",
"WTINT2YR":"Full sample 2 year interview weight.",
"WTMEC2YR":"Full sample 2 year MEC exam weight.",
"SDMVPSU":"Masked variance unit pseudo-PSU variable for variance estimation",
"SDMVSTRA":"Masked variance unit pseudo-stratum variable for variance estimation",
"INDHHIN2":"Total household income (reported as a range value in dollars)",
"INDFMIN2":"Total family income (reported as a range value in dollars)",
"INDFMPIR":"A ratio of family income to poverty guidelines."})

# Create a new dataframe with selected columns from the demographicDF 
newDem = demographicDf[["SEQN","Gender of the participant.", "Age in years of the participant at the time of screening. Individuals 80 and over are topcoded at 80 years of age." ,"Marital status" ,"Pregnancy status for females between 20 and 44 years of age at the time of MEC exam." , "Did {you/SP} ever serve in a foreign country during a time of armed conflict or on a humanitarian or peace-keeping mission? (This would include National Guard or reserve or active duty monitoring or conducting peace keeping operations in Bosnia and Kosovo, in the Sinai between Egypt and Israel, or in response to the 2004 tsunami or Haiti in 2010.)" , "What is the highest grade or level of school {you have/SP has} completed or the highest degree {you have/s/he has} received?" , "What is the highest grade or level of school {you have/SP has} completed or the highest degree {you have/s/he has} received?"]]

#Renames the columns in newDem
newDem = newDem.rename(columns=\
                                    {"Gender of the participant.": "Gender",\
                                      "Age in years of the participant at the time of screening. Individuals 80 and over are topcoded at 80 years of age.": "Age",\
                                      "Pregnancy status for females between 20 and 44 years of age at the time of MEC exam.": "Pregnancy_Status", \
                                      "Did {you/SP} ever serve in a foreign country during a time of armed conflict or on a humanitarian or peace-keeping mission? (This would include National Guard or reserve or active duty monitoring or conducting peace keeping operations in Bosnia and Kosovo, in the Sinai between Egypt and Israel, or in response to the 2004 tsunami or Haiti in 2010.)": "Served",\
                                      "What is the highest grade or level of school {you have/SP has} completed or the highest degree {you have/s/he has} received?": "Education1",\
                                      "What is the highest grade or level of school {you have/SP has} completed or the highest degree {you have/s/he has} received?": "Education2"
                                     
                                    })

#Drops columns we don't need, such as education, military status, and pregnancy status
newDem = newDem[["SEQN", "Gender", "Age", "Marital status"]]

In [10]:
#Setting up mainDf

#Combines all three dataframes into a main dataframe
mainDf = newDem.join(newMed.set_index("SEQN"), on='SEQN', how='outer')
mainDf = mainDf.join(toplabsDf.set_index("SEQN"), on="SEQN", how="outer")

#Drops duplicate SEQN entries
mainDf = mainDf.drop_duplicates(subset='SEQN',keep='last')

#Drops any remaining rows containing null values
mainDf = mainDf.dropna()

#Replaces 2 values back to 0 values (oops!)
#columnList = list(mainDf.columns.values)

#for col in columnList:
#    mainDf[col] = mainDf[col].replace(2, 0, regex=True)

In [11]:
#Converts mainDf into a .csv file

mainDf.to_csv("mainData.csv")